/** 关闭礼物栏 */
#full-screen-interactive-wrap {
  display: none !important;
}
#fullscreen-danmaku-vm .fullscreen-danmaku {
  bottom: 5px !important;
}

.web-live-player-gift-icon-wrap {
  display: none;
}

/** 添加黑色底，让切换时不会突然闪白色 */
body {
  overflow: hidden !important;
  background: black;
}

html {
  background: black;
}

/** 去掉水印 */
.web-player-icon-roomStatus {
  display: none;
}

/** 全屏播放器 */
.live-room-app .app-content .app-body .player-and-aside-area .left-container {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw !important;
  height: 100vh;
  display: flex;
}

/** 移除下播后的推荐 */
#live-player > div.web-player-ending-panel > div > div.web-player-ending-panel-recommendList {
  display: none !important;
}

/** 移除一下杂七杂八的东西 */
#link-footer-vm,
#sections-vm,
#sidebar-vm,
#room-ssr-vm,
#head-info-vm,
#gift-control-vm {
  display: none !important;
}

/** 拖拽栏 */
.drag-menu {
  -webkit-app-region: drag;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100vw;
  height: 40px;
}

/** 弹幕快捷发送 */
.input-wrap {
  position: absolute;
  top: 50vh;
  transform: translateY(-50%);
  left: 10px;
  width: 100vw;
  z-index: 9999;
  display: flex;
  overflow: hidden;
  border-radius: 6px;
}

.danmu-length {
  opacity: 0.6;
  width: fit-content;
  height: fit-content;
  position: absolute;
  display: flex;
  align-items: center;
  padding-left: 6px;
  right: 0;
  bottom: 10px;
  display: none;
}
.input-switch button {
  background-color: rgba(0, 0, 0, 0.8);
  border: 0;
  padding: 6px;
  color: #fff;
  height: 40px;
  cursor: pointer;
}
.danmu-length {
  height: 40px;
  padding: 1px;
  color: #fff;
}
.danmu-input {
  width: 260px;
}
.danmu-input input {
  height: 40px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border: 0;
  padding: 4px;
  box-sizing: border-box;
}
